.game-container {
  height: 100%;
  width: 100%;
  pointer-events: auto !important;
}
button {
  margin-right: 20px;
  width: 300px;
}

.row1 {
  background-color: gray;
}

.row2 {
  background-color: yellow;
}

.row2 {
  background-color: blue;
}
