
<div >
  <button mat-raised-button color="primary" [disabled]="movieStepNumber >= 6" (click)="nextStep()">Next</button>
  <button mat-raised-button color="primary" [disabled]="movieStepNumber >= 6"(click)="skip()">Skip</button>
  <app-score-display [teamA]="teamAScore" [teamB]="teamBScore"></app-score-display>
</div>


<div  class="game-container">
  <div class="row-1">
    <app-picture-tile
      *ngIf="movieStepNumber >= 0"
      [currentMovie]="currentMovie"
      pictureCode="01"
    ></app-picture-tile>
    <app-picture-tile
      *ngIf="movieStepNumber >= 1"
      [currentMovie]="currentMovie"
      pictureCode="02"
    ></app-picture-tile>
  </div>
  <div class="row-2">
    <app-picture-tile
      *ngIf="movieStepNumber >= 2"
      [currentMovie]="currentMovie"
      pictureCode="03"
    ></app-picture-tile>
    <app-picture-tile
      *ngIf="movieStepNumber >= 3"
      [currentMovie]="currentMovie"
      pictureCode="04"
    ></app-picture-tile>
  </div>
  <div class="row-3">
    <app-picture-tile
      *ngIf="movieStepNumber >= 4"
      [currentMovie]="currentMovie"
      pictureCode="05"
    ></app-picture-tile>
    <div>
      <app-movie-name-reveal
        *ngIf="movieStepNumber >= 5"
        [currentMovie]="currentMovie"
      >
      </app-movie-name-reveal>
    </div>
    <div> 
      <app-score-calculation  
      *ngIf="movieStepNumber >= 6"
       [teamA]="teamAScore" 
       [teamB]="teamBScore" 
       (teamAscoreUpdate)="teamAScoreUpdated($event)" 
       (teamBscoreUpdate)="teamBScoreUpdated($event)" >     
      </app-score-calculation>
    </div> 

      
    </div>
  </div>

