.game-container {
  height: 100%;
  width: 100%;
  pointer-events: auto !important;
}
button {
  margin-right: 20px;
  width: 300px;
}

.row-1 {
  height: 30%;
}

.row-2 {
  height: 30%;
}

.row-3 {
  height: 30%;
  display: flex;
}
