<div
  class="game-rules"
  fxLayout="row"
  fxFlex="100"
  fxLayoutAlign="center center"
>
  <div>
    <h1>Game Rules</h1>
    <hr />
    <ul>
      <li>
        Identify Movie by 5 Picture Clues, Clue image will be displayed one by
        one
      </li>
      <li>Raise your hand as soon as you know the answer</li>
      <li>For every correct answer your Team will get 10 points</li>
      <li>For every wrong answer your Team will loose 5 points</li>
    </ul>
    <button mat-raised-button (click)="startGameClick()" color="primary">
      Start Game
    </button>
  </div>
</div>
